#pulley{
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    animation: movePulley 5s infinite both;
    -webkit-animation: movePulley 5s infinite both;
}
 
 #mesh{
     animation: moveMech 8s infinite linear;
     -webkit-animation: moveMech 8s infinite linear;
     transform-origin: 50% 50%;
     transform-box: fill-box;
}
 
 @keyframes movePulley {
     50%{
         transform: translate(30%,0);
         -webkit-transform: translate(30%,0);
         -moz-transform: translate(30%,0);
         -ms-transform: translate(30%,0);
         -o-transform: translate(30%,0);
 }
     
 }
 @keyframes moveMech {
 
     100%{
         transform: rotate(360deg);
         -webkit-transform: rotate(360deg);
         -moz-transform: rotate(360deg);
         -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
 }
 }