h2 {
  font-family: $ubuntu;
  font-size: $bolt;
  font-size: $large;
}

h3 {
    font-family: $ubuntu;
    font-size: $bolt;
    font-size: $small;
  }

p {
    font-family: $poppins;
    font-size: $regular;
    font-size: $x-small;
    line-height: 180%;
}




