//tipograficas
$poppins:'Poppins', sans-serif;
$ubuntu:'Ubuntu', sans-serif;

//peso
$bolt: 700;
$regular: 400;

//tamaño
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small:12px;

//color
$white: #fff;
$black: #000000;
$sable: #060606;
$charcoel: #2e1503;
$tangerine: #ffaf6d;
$orange: #ffa500;

//diagramación

$viewportWidth:100%;

// Breakpoints
$breakpoints:(
    'small' :(min-width: 320px),
    'medium':(min-width: 768px),
    'large' :(min-width: 992px),
    'huge'  :(min-width: 1200px),
);