/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 700;
  font-size: 20px;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 700;
  font-size: 14px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 400;
  font-size: 12px;
  line-height: 180%;
}

#pulley {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  animation: movePulley 5s infinite both;
  -webkit-animation: movePulley 5s infinite both;
}

#mesh {
  animation: moveMech 8s infinite linear;
  -webkit-animation: moveMech 8s infinite linear;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

@keyframes movePulley {
  50% {
    transform: translate(30%, 0);
    -webkit-transform: translate(30%, 0);
    -moz-transform: translate(30%, 0);
    -ms-transform: translate(30%, 0);
    -o-transform: translate(30%, 0);
  }
}
@keyframes moveMech {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.image {
  width: 100%;
  margin: 1% 0%;
  text-align: center;
}
.image__principal {
  width: 50%;
}

.main {
  padding: 0% 1%;
  margin: 0 1rem;
}

.courses {
  border: black;
  margin: 0 1rem 0 1rem;
  border: 1px solid #000000;
}
.courses__htmlcss {
  padding: 1% 1%;
  border: 1px solid #000000;
  margin: 3% 1rem 0% 1rem;
}
.courses__sass {
  padding: 1% 1%;
  border: 1px solid #000000;
  margin: 1% 1rem 0% 1rem;
}

.fa-comments {
  padding: 1% 2%;
}

.fa-eye {
  padding: 1% 2%;
}

.fa-share-alt {
  padding: 1% 2%;
}

.fa-thumbs-up {
  padding: 1% 2%;
}

.icon {
  padding: 1% 2%;
}
.image01 {
  width: 100%;
  height: 20rem;
}

.image02 {
  width: 100%;
  height: 20rem;
}

.image03 {
  width: 10rem;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  border: 1px solid #000000;
}

.somos {
  border: black;
  margin: 0 1rem 0 1rem;
  border: 1px solid #000000;
}

.images {
  width: 100%;
  margin: 3% 0%;
  text-align: center;
}

.text01 {
  text-align: center;
}

.rrss {
  text-align: center;
  padding: 2% 0%;
}

.rrss0 {
  padding: 0% 2%;
}

.list {
  background-color: black;
  color: white;
  text-align: center;
  margin: 1% 0%;
}

.other__courses {
  padding: 0% 0% 0% 3%;
}

.animation {
  text-align: center;
  padding: 0% 0% 0% 0%;
}

.footer {
  width: 100%;
  margin-top: 1%;
  padding: 2% 0%;
  color: #fff;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.legal {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.legal__link {
  color: #fff;
  text-decoration: none;
  padding: 0 1rem;
}
.legal__link:hover {
  color: #ffa500;
}
.legal__ul {
  display: flex;
  align-items: center;
}

.input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 1% 0%;
}
.input__mail {
  color: #000000;
  padding: 0% 5%;
  width: 55%;
}
.input__mail:focus {
  background: #ffaf6d;
}
.input__button {
  cursor: pointer;
  font-size: small;
  padding: 0% 5%;
  background: #ffaf6d;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
}
.input__button:hover {
  background: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #000000;
  color: #fff;
  z-index: 5;
  padding: 1%;
}
.navbar__logo {
  padding: 0% 2%;
  text-decoration: none;
}

.logo__img {
  width: 5vh;
}

.navbar__menu {
  position: relative;
}

.navbar__hamburguesa {
  color: inherit;
  min-width: 32px;
  min-height: 32px;
  transition: opacity 80ms linear;
  display: none;
}

.navbar__hamburguesacerrar {
  color: inherit;
  position: absolute;
  top: 0;
  min-width: 32px;
  min-height: 32px;
  display: none;
  z-index: -1;
}

.navbar__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.95rem;
  font-weight: 500;
}

.navbar__item {
  margin-right: 1rem;
}

.navbar__link {
  color: inherit;
  text-decoration: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.navbar__link:hover,
.navbar__link:focus-visible {
  color: #ffa500;
}

@media (max-width: 520px) {
  .navbar__hamburguesa {
    display: flex;
    opacity: 1;
  }
  .navbar__hamburguesa:hover {
    color: #ffa500;
  }

  .navbar__list {
    opacity: 0;
    position: fixed;
    visibility: none;
    top: -1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    color: #25310c;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.19);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 2rem 0 2rem 2rem;
    background: #fff;
  }

  .navbar__container:focus .navbar__list,
.navbar__container:focus-within .navbar__list {
    position: absolute;
    visibility: visible;
    opacity: 1;
    top: 2rem;
    right: 1.5rem;
  }

  @supports (backdrop-filter: blur(10px)) {
    .navbar__container:focus .navbar__list,
.navbar__container:focus-within .navbar__list {
      background: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(10px);
    }
  }
  .navbar__item {
    margin-right: 0;
    padding: 0.5rem 3rem;
  }

  .navbar__link:hover,
.navbar__link:focus {
    opacity: 0.8;
    color: #ffa500;
  }

  .navbar__container:focus .navbar__hamburguesa,
.navbar__container:focus-within .nav__hamburguesa {
    opacity: 0;
    z-index: -1;
  }

  .navbar__container:focus + .navbar__hamburguesacerrar,
.navbar__container:focus-within + .navbar__hamburguesacerrar {
    display: flex;
    opacity: 1;
    z-index: 1;
  }
}
.row {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 66rem;
}

.box {
  background-color: aquamarine;
}

.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

@media (min-width: 450px) {
  .col-xs-12 {
    grid-column: span 12;
  }

  .col-xs-11 {
    grid-column: span 11;
  }

  .col-xs-10 {
    grid-column: span 10;
  }

  .col-xs-9 {
    grid-column: span 9;
  }

  .col-xs-8 {
    grid-column: span 8;
  }

  .col-xs-7 {
    grid-column: span 7;
  }

  .col-xs-6 {
    grid-column: span 6;
  }

  .col-xs-5 {
    grid-column: span 5;
  }

  .col-xs-4 {
    grid-column: span 4;
  }

  .col-xs-3 {
    grid-column: span 3;
  }

  .col-xs-2 {
    grid-column: span 2;
  }

  .col-xs-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}

/*# sourceMappingURL=main.css.map */
